# Frontend (Vite)
VITE_SUPABASE_URL=https://pllqinlgjkmmumfqlfjn.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InBsbHFpbmxnamttbXVtZnFsZmpuIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzM5MzU0MzksImV4cCI6MjA4OTUxMTQzOX0.4g74EU-iSxA7KGQGAAsDsgqN5LArdrXK3uFFpPCoSMg

# Serverless API (Vercel)
SUPABASE_URL=https://pllqinlgjkmmumfqlfjn.supabase.co
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InBsbHFpbmxnamttbXVtZnFsZmpuIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzM5MzU0MzksImV4cCI6MjA4OTUxMTQzOX0.4g74EU-iSxA7KGQGAAsDsgqN5LArdrXK3uFFpPCoSMg
GOOGLE_SAFE_BROWSING_API_KEY=
VIRUSTOTAL_API_KEY=
